 body {
            font-family: Arial, sans-serif;
            background-color: gainsboro;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            max-width: 400px;
            margin: 80px auto;
            padding: 30px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        }

        main{
            text-align: center;
        }

       .config-link {
            display: inline-block;
            margin-top: 20px;
            padding: 8px 16px;
            color: rgb(11, 21, 160);

        }

         .config-link:hover {
            text-decoration: none;

        }

        h2 {
            text-align: center;
            color: #333333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-top: 15px;
            font-weight: bold;
            color: #555555;
        }

        input[type="text"],
        select {
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #cccccc;
            border-radius: 5px;
            font-size: 14px;
        }

        input[type="submit"] {
            margin-top: 25px;
            padding: 12px;
            background-color: #951111;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #ce1717;
        }

        .cookie-info {
            margin-top: 20px;
            text-align: center;
            color: #777777;
            font-size: 14px;
        }

img {
    display: block;
    margin: 20px auto;
    width: 300px;
    max-width: 100%;
    border-radius: 8px;
}

a.botao {
    display: block;
    width: fit-content;
    margin: 30px auto 0 auto;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


        a.botao:hover {
            background-color: #d32f2f;
        }